<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="left-side-bar">
        <section class="spotlight"></section>
        <section class="stats">
            <h3>Stats</h3>
            <h4>total stations: 5244</h4>
            <h4>total owners: 32</h4>
            <div class="owner-list"></div>
        </section>
        <section class="latest-prices">
            <h3>latest prices</h3>
            <p class="commodity-date"></p>
            <p>WTI oil <span class="wti"></span> USD per barrel 🛢️</p>
            <p>Brent oil <span class="brent"></span> USD per barrel 🛢️</p>
            <p>Natural gas <span class="natural-gas"></span> USD per MMBtu</p>
        </section>
        <section class="about">
          <h3>About</h3>
          <h4>Team Name: Team JEFH</h4>

          <p>Falko: <a href="https://github.com/FalkoKa">Falko's Github</a></p>
          <p>
            Jack:
            <a href="https://github.com/jrh1010101101010">Jack's Github</a>
          </p>
          <p>
            Elmira: <a href="https://github.com/elmira1788">Elmira's Github </a>
          </p>
          <p>
            Henry: <a href="https://github.com/henry-rennell">Henry's Github</a>
          </p>
        </section>
      </div>

      <div id="map"></div>

      <div class="right-side-bar">
        <section class="date"></section>
        <section class="map-center-location">
          <div>
            <h2>Map Center Location</h2>
            <p>Latitude: <span id="center-latitude"></p>
            <p>Longitude: <span id="center-longitude"></p>
          </div>
        </section>
        <section class="nearest"></section>
      </div>
    </div>

    <script>
      ((g) => {
        var h,
          a,
          k,
          p = "The Google Maps JavaScript API",
          c = "google",
          l = "importLibrary",
          q = "__ib__",
          m = document,
          b = window;
        b = b[c] || (b[c] = {});
        var d = b.maps || (b.maps = {}),
          r = new Set(),
          e = new URLSearchParams(),
          u = () =>
            h ||
            (h = new Promise(async (f, n) => {
              await (a = m.createElement("script"));
              e.set("libraries", [...r] + "");
              for (k in g)
                e.set(
                  k.replace(/[A-Z]/g, (t) => "_" + t[0].toLowerCase()),
                  g[k]
                );
              e.set("callback", c + ".maps." + q);
              a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
              d[q] = f;
              a.onerror = () => (h = n(Error(p + " could not load.")));
              a.nonce = m.querySelector("script[nonce]")?.nonce || "";
              m.head.append(a);
            }));
        d[l]
          ? console.warn(p + " only loads once. Ignoring:", g)
          : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
      })({
        key: "<%= API_KEY %>",
      });
    </script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="/latest_prices.js"></script>
    <script type="module" src="/station_list.js"></script>
    <script type="module" src="/clock.js"></script>
    <script type= "module" src="/client.js"></script>
    <script type="module" src="/stats.js"></script>
    <script src="/api.js"></script>
  </body>
</html>
