* {
    /* border: red 2px solid; */
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100%;
}

.hide.right-side-bar, .hide.left-side-bar {
  display: none;
}

.hide.wrapper {
  display: block;
}


#map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.invisible {
  display: none;
}

.visible {
  display: block;
}
/* 
img {
  display: ;
} */